<!DOCTYPE html>
<html>

<head>
  <link href="/css/style.css" rel="stylesheet" />
  <script src="/js/app.js"></script>
  <title>Sample page</title>
</head>

<body>
  {{>header}}
  {{message}}
  {{>footer}}
</body>

</html>