<!DOCTYPE html>
<html>

<head>
  <link href="/css/style.css" rel="stylesheet" />

  <title>Sample page</title>
</head>

<body>
  {{>header}}
  <img src="/img/dont-deploy-on-firdays.jpeg" alt="something" />
  {{>footer}}
</body>

</html>