<!DOCTYPE html>
<html>

<head>
  <link href="/css/style.css" rel="stylesheet" />

  <title>Sample page</title>
</head>

<body>
  {{>header}}
  <p>This site was created by Robin Chalia. It uses data from mapbox.com and weatherstack.com</p>
  <img src="/img/dont-deploy-on-firdays.jpeg" alt="something" />
  {{>footer}}
</body>

</html>